@charset "utf-8";
@import url( https://fonts.googleapis.com/earlyaccess/nanumgothic.css );

body, a {
    font-family : "Nanum Gothic";
}

#Openrider #contentsArea {
	vertical-align : center;
}

#Openrider div {
	color : #ffffff !important; 
}
#Openrider p {
	color : #ffffff !important; 
}
#Openrider h3 {
	color : #ffffff !important; 
}
#Movies div {
	color : #ffffff !important; 
}
#Movies p {
	color : #ffffff !important; 
}
#Movies h1 {
	color : #ffffff !important; 
}
#Bpdiary div {
	color : #ffffff !important; 
}
#Bpdiary p {
	color : #ffffff !important; 
}
#Bpdiary h3 {
	color : #ffffff !important; 
}
footer {
/* 	background-color: black !important;  */
	color : white;
}
/* footer div { */
/* 	background-color: black !important;  */
/* } */

section#Support {
  padding: 0 0 150px 0;
}
section#Support .media {
  margin-bottom: 10px;
}
section#Support .media i.fa {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 10px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 1.9em;
  text-align: center;
}
section#Support .media .media-heading {
  padding-top: 15px;
  font-weight: 300;
}
section#Support .media .media-heading a {
  font-weight: 400;
}

.center {
	text-align : center;
}