<!-- Header -->
<% include /common/header.ejs %>

<!-- Home Main -->
<% include main.ejs %>

<div class="wrapper">

    <!-- OpenRider -->
    <% include openrider.ejs %>
    
    <!-- BpDiary -->
    <% include bpdiary.ejs %>
    
    <!-- Members -->
    <% include members.ejs %>
    
    <!-- Support -->
    <% include support.ejs %>
    
    <!-- footer -->
    <% include /common/footer.ejs %>

</div>

<script>
// function ready
$(document).ready(function() {
    appMaster.preLoader();
});

// 문의 메일 보내기
$(document).on('click','.btnSendEmail',function() {
    $('#form').prop('action', '/mail').submit();
});

</script>

<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=API_KEY"></script>

<script type="text/javascript">

    $(function() {
        searchMap();
    });

    //구글 맵 가져오기
    function searchMap() {

        var latlng = new google.maps.LatLng(37.543891, 127.061279);

        var mapOptions = {
            zoom : 16,
            center : latlng,
            mapTypeId : google.maps.MapTypeId.ROADMAP,
            mapTypeControl : false,
            streetViewControl : false
        };
        var map = new google.maps.Map(document.getElementById("gMap"),
                mapOptions);
        var marker = new google.maps.Marker({
            position : latlng,
            map : map,
            title : '(주)쿠핏',
            icon : '/img/cufit/map.png',
            animation : google.maps.Animation.BOUNCE
        });
    }
</script>