<div class="navbar navbar-fixed-top navbar-inverse top-nav">
  <div class="navbar-inner">

    <div class="container">
      <div class="row-fluid">
        <div class="span12">

            <ul class="nav primary">
              <li class="brand">
                <span class="title"> <i class="icon-bookmark"></i> Cufit </span>
              </li>
            </ul>

        </div>
      </div>
    </div>
  </div>
</div>

<section id="main">
	<div class="container">